:root {
	--bg-image: url("../images/flower.jpg");
	--bg-color: ;
	--icon-color: #fc88cf;
	--text-color: white;
	--message-color: var(--text-color);
	--clock-color: var(--text-color);
	--box-bg-color: rgba(20,20,20,0.93);
	--box-border-color: #fc2d8e;
	--search-placeholder-color: #fc88cf;
	--section-underline-color: #d854a6;
	--search-border: white;
}

@font-face {
	font-family: "Visitor";
	src: url("fonts/visitor.ttf");
	font-stretch: expanded;
}

@font-face {
	font-family: "Sans Serif Plus";
	src: url("fonts/sans_serif_plus_7.ttf");
	font-stretch: expanded;
}

body {
	z-index: -1;
	background-color: var(--bg-color);
	background-image: var(--bg-image);
	background-size: cover;
	text-align: center;
}

.container {
	position: relative;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 6%;
	width: 75%;
	height: 75vh;
	border: 2px solid var(--box-border-color);
	background: var(--box-bg-color);
	overflow-y: hidden;
	overflow-x: hidden;
}

form {
	text-align: center;
	display: inline-block;
}

input[type=text] {
	position: absolute;
	top: 85%;
	right: 14%;
	margin: 10px;
	width: 70%;
	color: var(--text-color);
	font-family: Visitor;
	font-size: 20px;
	border: none;
	height: 23px;
	border-bottom: 1px solid white;
	background: rgba(0,0,0,0);
}

input[type=submit] {
	position: absolute;
	margin: 10px;
	top: 85%;
	left: 83%;
	color: var(--search-placeholder-color);
	font-weight: bold;
	cursor: pointer;
	border: none;
	background: rgba(96,135,175,0.01);
	display: none;	/* For some reason top doesn't work */
}

::-moz-placeholder {
	position: relative;
	color: var(--search-placeholder-color);
}

.message {
	position: relative;
	text-align: center;
	font-size: 30px;
	color: var(--message-color);
	top: 11%;
	-moz-user-select: none;
}

.clock {
	/*font-family: Visitor;
	font-size: 30px;*/
	font-size: 20px;
	color: var(--clock-color);
	position: relative;
	top: 15%;
	-moz-user-select: none;
}

.main-menu {
	position: relative;
	text-align: center;
	height: auto;
	top: 20%;
	left: 5%;
	width: 90%;
	border-bottom: 1px solid white;
}

.fa-sitemap, .fa-magnet, .fa-reddit-square, .fa-users, 
.fa-graduation-cap, .fa-newspaper, .fa-search, .fa-tv,
.fa-book, .fa-youtube, .fa-envelope, .fa-facebook, 
.fa-unlock, .fa-lock, .fa-list, .fa-file-alt, .fa-language, 
.fa-random, .fa-user, .fa-leaf, .fa-comments, .fa-code,
.fa-star, .fa-columns {
	position: relative;
	color: var(--icon-color);
	top: 2px;
}

.fa-check-circle {
	position: relative;
	top: 1px;
	color: #55fc2f;
	font-size: .8em;
}

.fa-minus-circle {
	position: relative;
	top: 1px;
	color: #fc2f33;
	font-size: .8em;
}

span {
	position: relative;
	color: var(--icon-color);
	font-weight: bold;
	font-size: 18px;
	top: 2px;
}

span.sub-span {
	position: relative;
	color: var(--icon-color);
	font-weight: bold;
	font-size: 15px;
	bottom: 10px;
}

button.main-section {
	display: inline-block;
	margin: 10px;
	color: var(--text-color);
	font-family: Visitor;
	font-size: 18px;
	padding-bottom: 4px;
	-moz-user-select: none;
	z-index: 10;
	border: none;
	background: rgba(0,0,0,0);
	outline: none;
}

button::-moz-focus-inner {
	outline: none;
}

button:focus {
	outline: none;
}

button.main-section:hover {
	cursor: pointer;
	border-bottom: 1px solid var(--section-underline-color);
}

.expanded-menu {
	position: relative;
	top: 20%;
	font-family: Visitor;
	color: var(--text-color);
	padding: 15px;
	display: none;
	left: 5vw;
	max-height: 37%;
	max-width: 87%;
	white-space: nowrap;
	/* A better idea, but kinda ugly */
	/*
	overflow-y: hidden;
	overflow-x: -moz-scrollbars-none;
	*/
}

.sub-menu {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: left;
	min-width: 22%;
	padding-left: 10px;
	height: 30vh;
	font-size: 18px;
	/* Fun decoration of vertical lines in between */
	/*
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-top: 15px;
	bottom: 15px;
	margin-right: -8px;
	*/
	/* Not that great of an idea*/
	/*
	overflow-x: hidden;
	overflow-y: -moz-scrollbars-none;
	*/
}

.sub-links {
	position: relative;
	bottom: 10px;
	text-align: left;
	padding-right: 15px;
}

ul { 
	list-style-type: square;
	padding-left: 30px;
}

li {
	font-size: 17px;
}

a {
	color: var(--text-color);
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

button.selected {
	outline: none !important;
	border-bottom: 1px solid var(--section-underline-color);
}

ul span {
	position: relative;
	color: var(--text-color);
	font-weight: normal;
	padding-top: 2px;
	right: 15px;
	font-size: 18px;
}

button::-moz-focus-inner {
	border: 0;
}

/* Experimental, remove if you don't like this */
a:hover {
	text-decoration: underline;
	text-decoration-color: var(--section-underline-color);
}
